.groupse {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.img-circle {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
    vertical-align:middle;
}

body {
    overflow:hidden;
}

.sidenav {
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    padding-top: 60px;
    padding-right: 32px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav-align {
    float: left;
}

.groups {
    float: right;
    border: 1px solid #ccc!important;
    height: 800px;
}
.group{
    text-align: center;
    //border: 1px solid black;
    padding: 4px 4px 4px 4px;
    overflow: hidden;
    transition: 0.3s
}
.group:hover {
    border-radius: 30%;
    background-color: #c9c9c9;
}

.groups a {
    padding: 4px 4px 0px 4px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}




@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.title-center {
    text-align: center;
}