.groupse {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.img-circle {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
    vertical-align:middle;
}
.file-add {
    border-radius: 50%;
    display: block;
    bottom:0;
    left:0;
}
.img-top {
  margin-bottom:35px !important;
}
.img-circle-title {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 5px;
}
.categories {
    padding: 0px 10px 10px 40px;
    flex: 100px 1 0;
}

.projects {
    padding: 0px 10px 10px 70px;
    display: inline-block;
}
.projects h3 {
    text-align: center;
    width: 700%;
    color: #1798A5;
}
.categories-content {
    border: 2px solid #ccc!important;
    overflow: auto;
    height: 145px;
}
.categories-content li{
    padding-right: 25px !important;
    padding-bottom: 5px;
}
.categories h3 {
    text-align: center;
    color: #1798A5;
}

body {
    overflow:hidden;
}

.sidenav {
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    padding-top: 60px;
    padding-right: 32px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav-align {
    float: left;
}

.groups {
    float: right;
    border: 1px solid #ccc!important;
    height: 800px;
}

.menus {
    float: left;
    border: 1px solid #ccc!important;
    height: 800px;
}
.menus a {
    text-align: center;
    padding: 8px 8px 0px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.stat-members {
    display: flex;
    flex-direction: column;
    float: left;
    width: 21.5%;
}
.contents {
    border: 1px solid #ccc!important;
    background-color: red;
}
.title-group{
    text-align: center;
    font-weight: bold;
    font-size: 30px;

}
.group{
    text-align: center;
    border: 1px solid black;
    padding: 4px 4px 4px 4px;
    overflow: hidden;
    transition: 0.3s
}
.group:hover {
    border-radius: 30%;
    background-color: #c9c9c9;
}

.groups a {
    padding: 8px 8px 0px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.projects-content {
  width: calc(500% - 100px);
  height: 365px;
}
.projects-content li{
    padding-right: 25px !important;
    padding-bottom: 5px;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.title-center {
    text-align: center;
}
