.header{
    background-color: #5C96E9;
    margin: 0px;
    padding: 0;
    height: auto;
}
.logo{
    width: 4vw;
    height: 4vw;
    float: left;
    display: inline-block;
}
.search-bar{
    vertical-align: middle;
}