.smallimg{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    margin:auto;
    margin-right: 5px;
}

.result-users{
    display: inline-block;
    width: auto;
}

.result-files{
    display: inline-block;
    float: left;
}

