.logo-img {
  display: block;
  margin: auto;
  width: 15%;
}

.body-login {
  background-size:cover;
    background-image: url('../webroot/img/background_login.jpg');
}

.login-infos {
  display: block;
  margin: auto;
  width: 300px;
  border:2px solid black;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  background: white;
  padding:15px;
}

.legend {
  float:left;
  padding: 5px;
  font-size: 18px;
  color: #1798A5;
}

.btn-login {
  border-radius: 10%;
  border: 2px solid #1798A5;
  width: 95px;
  margin-left: 60%;
}

.champ {
  font-size: 11px;
  height:30px;
}

.btn_add {
  border-radius: 100%;
  margin-top: 10px;
  margin-left: 85px;
}
